@media (min-width: 768px) {
  .items-info {
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "pic title price description ";
    align-items: center;
    gap: 15px;
  }
  .description {
    grid-area: description;
  }
 
  .checkout {
    width: 150px;
    height: 50px;
    background-color: #291715;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }
}
@media (min-width: 530px )and (max-width:768px) {
  .items-info {
    display: grid;
    grid-template: 1fr 0.5fr /0.5fr 0.5fr;
    grid-template-areas:
      "pic price"
      "title description";

    align-items: center;
    justify-items: center;
    gap: 5px;

  }
  .items-info img {
    max-width: 100%;
    padding: 10px;
    justify-items: center;
  }
  .description {
    grid-area: description;
    grid-row: price/description;
  }
  .checkout {
    width: 150px;
    height: 50px;
    background-color: #291715;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }
}
@media (max-width: 530px) {
  .items-info {
    display: grid;
    grid-template: 0.5fr 0.2fr 0.2fr 0.2fr /1fr;
    grid-template-areas:
      "pic"
      "title"
      "price"
      "description";

    align-items: center;
    justify-items: center;
    gap: 5px;
  }
  .description {
    grid-area: description;
  }
  .checkout {
    width: 90px;
    height: 50px;
    background-color: #291715;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }
}
.items-info img {
  max-width: 50%;
  padding: 10px;
  justify-items: center;
}
.price {
  grid-area: price;
}
.productTitle {
  grid-area: title;
}

.countHandler {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
}

